/* general */
* {
    color: white;
  }
  
html {
    height: 100%;
    background-color: rgb(19,21,42,1);
  }
body {
    padding-top: 3%;
    height: 100%;
    background-color: rgb(19,21,42,1);
    font-family:  
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
#root {
    background-color: rgb(19,21,42,1);
  }
  
.fatherDiv {
    height: 100%;
    width: 100%;
  }