* {
  color: white;
}

html {
  height: 100%;
  background-color: rgb(19,21,42,1);
}
body {
  padding-top: 3%;
  height: 100%;
  background-color: rgb(19,21,42,1);
  font-family:  
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

.fatherDiv {
  height: 100%;
  width: 100%;
}

.title {
  text-align: center;
  margin-top: 2%;
}

.kleverLogo {
  width: 200px;
}

.subHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 3%;
  margin-left: 23%;
  margin-right: 28%; 
}

.btnFixedArea {
  min-width: 30%;
}

.starAndTitle {
  display: flex;
  align-items: center;
  margin-right: 20%;
}

h2 {
  margin: 0;
}

.shootingStar {
  width: 60px;
  padding: 3%;
  padding-right: 1%;
}

.btn {
  font-weight: bold;
  min-width: 100px;
  padding: 5px;
}

.btnPink {
  background-color: rgba(170, 51, 180, 1);
  border:0px;
}

.btnPink:hover {
  background-color:rgb(139, 41, 148) ;
}

.btnGray {
  background-color: rgba(100,100,100,1);
border: 0px;
}

.btnGray:hover {
  background-color: rgb(85, 85, 85, 1);
}

.btnRed {
background-color: rgba(146, 3, 0, 1);
border: 0px;
}

.btnRed:hover {
  background-color: rgb(114, 2, 0);
}

table {
  background-color: rgb(19,21,42,1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

thead {
  width: 46%;
}

thead tr {
 display: flex;
 justify-content: space-between;
 font-size: smaller;
}

thead tr:first-child {
  margin-left: 15%;
  margin-right: 15%;
}

tbody {
width: 40%;
}

tbody tr {
display: flex;
justify-content: space-between;
margin: 2%;
margin-right: 10%;
font-size: x-large;
}

tbody tr>td:first-child {
  width: 30%;
  display: flex;
}

tbody tr>td:first-child>span {
  margin-right: 18%;
}


.tokenHeader {
  display: flex;
  justify-content: space-between;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 3%;
}

.formDiv {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 4%;
}


.inputs {
  margin-bottom: 4%;
}

.formSaveBtn {
  text-align: right;
  margin-top: 7%;
}