* {
  color: white
}

html {
  height: 100%;
  background-color: rgb(19,21,42,1);
}
body {
  height: 100%;
  background-color: rgb(19,21,42,1);
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.fatherDiv {
  height: 100%;
}

.kleverLogo {
  width: 300px
}

.shootingStar {
  width: 30px;
}